# Python 캐시
__pycache__/
*.py[cod]
*$py.class

cache/

# 가상환경
venv/
ENV/
env/
.venv/
.ENV/
.env/

# IDE/에디터 설정
.vscode/
.idea/
*.swp

# OS별 파일
.DS_Store
Thumbs.db

# 환경변수/민감정보
.env

# 데이터베이스/마이그레이션
*.db
*.sqlite3
migrations/

# Jupyter 체크포인트
.ipynb_checkpoints/

# 기타
*.log
tests/경로 탐색.png
tests/분포도.png
tests/클러스터링.png
